player-connection-mode=Listen
player-connection-guid=2707522665
player-connection-debug=0
player-connection-project-name=123
player-connection-ip=140.120.166.131
player-connection-ip=172.20.10.13
player-connection-ip=192.168.56.1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=b1eb069e5f1443b183637040e12f306a
